$ui-color-black:#252525;
$ui-color-white:#F5F3EA;


$ui-breakpoint-sm: '576px';
$ui-breakpoint-sm--min: '577px';

$ui-breakpoint-md: '768px';
$ui-breakpoint-md--min: '769px';

$ui-breakpoint-lg: '992px';
$ui-breakpoint-lg--min: '993px';

$ui-breakpoint-xl: '1200px';
$ui-breakpoint-xl--min: '1201px';


$ui-index-1: 1; // Для наползающих элементов в блоке
$ui-index-2: 2; // Для наползающих элементов в блоке
$ui-index-3: 3; // Для наползающих элементов в блоке
$ui-index-4: 4; // Для наползающих элементов в блоке
$ui-index-5: 5; // Для наползающих элементов в блоке

$ui-index-6: 6; // Для затемняющих или блюр масок
$ui-index-7: 7; // Для сайдбаров
$ui-index-8: 8; // Для модальных окон
$ui-index-9: 9; // Для элементов перекрывающих все
