//=======================================
//Bohdan Rudenko
//=======================================
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1.5625rem 0;
    align-items: center;
}