//=======================================
//Bohdan Rudenko
//=======================================

.contact {
    border-bottom: 1px solid #252525;

    .contact__wrapper {
        display: flex;
        padding: 6.25rem 0;

        .contact__title {
            width: 50%;
            font-family: 'Gilroy', sans-serif;
            text-transform: uppercase;
            font-size: 9.6875rem;
            font-weight: 300;
            line-height: 11.1694rem; 
            color: #333333;   
        }
    
        .contact__feedback {
                display: flex;
                flex-direction: column;
                width: 50%;
    
            .contact__story {
                text-transform: uppercase;
                font-family: 'Gilroy', sans-serif;
                font-size: 4rem;
                line-height: 4.6875rem;
                font-weight: bold;
                color: #252525;
                margin-bottom: 1.875rem;
            }
        
            .contact__consultation {
                font-size: 2.125rem;
                margin-bottom: 1.875rem;
                line-height: 2.4625rem;
            }
    
            .contact__btn {
                width: fit-content;
                padding: 1rem 1.875rem;
                background-color: #252525;
                cursor: pointer;
                color: #FFFFFF;
                border: none;
                border-radius: 3.125rem;
                text-transform: capitalize;
            }
    }
    }

}